body {
	background-color: rgba(255,255,251,1);/* GOFUN */
	color: #656765; /* NIBI */
}

a {
  color: #7BA23F;
}

a::after {
	background-color: #080808; /* KURO */
}

/* main color schema */
.akabeni {
	color: #CB4042;
}

.sora {
	color: #58B2DC;
}

.moegi {
  color: #7BA23F;
}

nav .humberger .rentagle1,
nav .humberger .rentagle3
 {
  background: #58B2DC; /* SORA */
}

nav .humberger .rentagle2 {
	background-color: #CB4042; /* AKABENI */
}

.site-description {
	color: #080808; /* KURO */
}

.grid .article1,
.grid .go-to-article {
	color: #FFFFFB; /* GOFUN */
}

.grid .article2,
.grid .article3 {
	color: #656765; /* NIBI */
}

.about {
	background-color: rgba(203,64,66,0.2); /* AKABENI 0.2 */
	color: #080808; /* KURO */
}

.hometown {
	background-color: rgba(88,178,200,0.2); /* SORA 0.2 */
	color: #080808; /* KURO */
}

.favorites {
	background-color: rgba(123,162,63,0.2);/* MOEGI 0.2 */
	color: #080808; /* KURO */
}

.map-embed
{
	background-color: #656765; /* NIBI */
}

@media (max-width: 768px) {
	nav.opened {
    background: #FFFFFB; /* GOFUN */
  }
}