@charset "UTF-8";

html {
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-size: 1.8rem;
	font-family: 'Telex', "Hiragino Kaku Gothic ProN", Meiryo, san-serif;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
	position: relative;
	display: inline-block;
}

/*a::after {
	position: absolute;
	bottom: .3em;
	right: 0;
	content: '';
	width: 100%;
	height: 2px;
	opacity: 0;
	transition: .3s;
}*/

ol, ul {
  list-style: none;
}

/* logo part */
.logo {
	position: fixed;
  top: 0;
  left: 0;
	width: 100vw;
  z-index: 101;
	background-color: #ffffff;
}

.logo-spot {
	position: fixed;
	top:40px;
	left:20%;
	height: 10vh;
	width: 60vw;
  z-index: 101;
}

.logo-spot img {
	width: 100%;
	margin: 0 auto;
}

.logo img {
    width: 320px;
    margin: 0 auto;
}

img {
    border: 0;
}

.logo a {
	width: 200px;
  height: 40px;
  display: block;
  background-image: none, url("../images/urplace.png");
  background-size: cover;
}

.place {
	position: fixed;
  bottom: 0;
  left: 0;
	width: 100vw;
  z-index: 101;
	background-color: #ffffff;
	font-size: 2.0rem;
}

.place p {
	padding: 10px;
}

.message .like{
	position: fixed;
  bottom: 40%;
	font-size: 4.4rem;
  right: 10px;
	color: #45b035;
	margin:5px;
	padding: 5px;
	border:solid 2px #45b035;
	border-radius: 0.1em;
}

.message .none{
	position: fixed;
  bottom: 40%;
	font-size: 4.4rem;
  left: 10px;
	color: #c25152;
	margin:5px;
	padding: 5px;
	border:solid 2px #c25152;
	border-radius: 0.1em;
}

/* header */
.header {
	padding: 80px 30px 380px;
	min-height: 360px;
	background-image: url(../images/spot4u-top.gif);
  background-size: cover;
	background-position: center;
	width: 100vw;
  height: 100vh;
}

/* flick */
.flick {
	padding: 80px 30px 380px;
	min-height: 360px;
	background-image: url(../images/test.gif);
  background-size: cover;
	background-position: center;
	width: 100vw;
  height: 100vh;
}

.site-title {
	margin: 100px 0 40px;
	font-size: 3.2rem;
}

.site-description {
	margin-top: 400px;
	margin-bottom: 20px;
	font-size: 2.0rem;
}

.buttons .button {
  margin: 10px;
}

.button {
	display: inline-block;
	width: 250px;
	padding: 20px;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 2.2rem;
}

.button:hover {
	opacity: 0.9;
}

/* about */
.about {
	padding: 80px 30px;
}

.sns {
	padding: 30px;
}

/* grid */
/* ****************
 * Grid
 * *************** */

 .gridmaster {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;
}

.grid {
  display: table-cell;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
}

.grid .title {
  color: #C11920;
  font-size: 1.8rem;
  padding: 8px;
  margin: 0 auto;
}

/* grid */
.gridmaster-result {
  display: table;
  width: 100%;
}

.grid-result {
  display: table-cell;
  width: 33.3%;
  padding: 0;
  position: relative;
	/*visibility:hidden;*/
	overflow: hidden;
}

.grid-result p {
	position: absolute;
	top: 70%;
	left: 5%;
	margin: 0;
	font-size: 2.0rem;
	z-index: 10;
}

.grid-result .article1 {
	position: absolute;
	top: 2%;
	right: 2%;
	text-align: right;
	font-size: 1.8rem;
}

.grid-result .article2 {
	top: 2%;
	right: 2%;
	text-align: right;
	font-size: 1.8rem;
}

.grid-result .article3 {
	position: absolute;
	top: 2%;
	left: 2%;
	text-align: left;
	font-size: 1.8rem;
}

.grid-result .go-to-article {
	display: none;
}

.grid-result .article-title{
	font-size: 2.8rem;
	font-family: 'Graduate', cursive;
}

.grid-result img {
	width: 100%;
	filter:brightness(60%);
	-webkit-filter: brightness(60%);
	vertical-align:bottom;
	transition: 0.3s;
}

.grid-result a:hover img {
	opacity: 0.8;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.grid-result a::after {
	display: none;
}
/* ****************
 * Hr
 * *************** */
 hr.fancy-line {
  border: 0;
  height: 0;
  margin: 0px auto 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(193, 25, 32, 1);
}

/* ****************
 * Item
 * *************** */
.item {
  position: relative;
  height: 50px;
}

.item.new:after {
  position: absolute;
  top: 25%;
  right: 20px;
  content: "DETAIL";
  background: #C11920;
  color: #fff;
  padding: 5px 10px 3px;
  border-radius: 3px;
}

.item.gray {
  background: #efefef;
}

.item .thumbnail {
  position: absolute;
  top:10%;
  left:5%;
  height: 80%;
}

.item .name {
  position: relative;
  top: 10%;
  font-size: 1.8rem;
  white-space: nowrap;
}

.item .name .like-info {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 1.4rem;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  width: 140px;
	color: #666666;
  text-decoration: none;
	display: inline;
}

.item .name .department{
  /*position: absolute;*/
  top: 20px;
  font-size: 0.9rem;
  color: #9FA0A0;
}

.item > a {
  position: absolute;
  width:100%;
  height:100%;
  display: block;
  border-radius: 5px;
  color: #777;
  transition: all 0.3s;
  text-decoration: none;
}

.item > a:hover {
  box-shadow: 0 0 6px -1px rgba(0,0,0,0.3);
  opacity: 0.8;
}
.hometown {
	padding: 80px 30px;
}

.hometown-map {
	width: 100%;
}

.heading {
	position: relative;
	display: inline-block;
	margin: 30px 0 15px;
	padding-bottom: 15px;
	letter-spacing: 2px;
	font-size: 4rem;
}

.heading::before,
.heading::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom:1px solid #999;
}

.heading::before {
	bottom: 5px;
}

.about-text,
.description {
	margin: 30px 200px;
	line-height: 1.7;
	text-align: left;
	font-family: 'Metrophobic', sans-serif;
}

/* favorites */
.favorites {
	padding: 80px 0;
}

.favorites-wrapper {
	display: table;
	width: 80%;
	margin: 50px auto 0;
	table-layout: fixed;
}

.favorite-box {
	display: table-cell;
}

.favolite-icon {
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
	font-size: 8rem;
	line-height: 142px; /* 150px-4px*2 */
}

.favorite-title {
	margin: 0 20px 20px;
	font-size: 2rem;
}

.favorite-text {
	margin: 0 20px;
	line-height: 2;
}

/* Google Map */
.map-embed
{
	max-width: 100% ;
	height: 0 ;
	margin: 0 ;
	padding: 0 0 56.25% ;
	overflow: hidden ;
	position: relative ;
	top: 0 ;
	left: 0 ;
}

.map-embed > div
{
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 100% ;
	margin: 0 ;
	padding: 0 ;
}

.map-embed img
{
	max-width: none ;
}

/* footer */
.footer {
	padding: 12px 0;
	font-size: 1.3rem;
}

/* for tablet */
@media (max-width: 1024px) {
	body {
	background-image:none;
	}
}

/* for smartphone */
@media (max-width: 768px) {
	.logo {
	  padding: 0.6rem 0.6rem;
	}
	nav {
	  padding-right: 0.6rem;
	  padding-top: 0.2rem;
	}
	nav.opened {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    padding:0;
    -webkit-transition: none;
    transition: none;
  }
	nav.opened ul {
	    display: block;
	    margin-top: 32px;
    padding: 5px;
	}
	nav.opened ul li a {
	    font-size: 2.4rem;
	    text-align: center;
	    display: block;
	    padding: 10.66667px 0 6.4px;
	}
	nav.opened .humberger {
		margin: 20px;
	}
	.about-text,
	.description {
		margin: 30px 0;
		line-height: 2.5;
	}
	.site-title-sub::before{
		display: block;
		width: 80%;
		margin: 10px auto;
	}
	.site-title-sub::after{
		display: block;
		width: 80%;
		margin: 10px auto;
	}
	.site-title-sub {
		font-size: 1.7rem;
	}
	.site-title {
		margin-top: 80px;
		font-size: 3.2rem;
	}
	.header {
		padding-top: 60px;
	}
	.button:hover {
		opacity: 1;
	}
	/* about */
	.heading {
		font-size: 2.5rem;
	}
	body {
		font-size: 1.6rem;
	}
	.about-text,
	.description {
		line-height: 1.8;
	}
	/* css for smartphone */
	@media (max-width: 768px) {
	  .gridmaster {
	    display: block;
	  }
	  .grid {
	    display: block;
	    margin-top: 20px;
	    padding-left: 0px;
	    padding-right: 0px;
	  }
		.gridmaster-result {
	    display: block;
	  }
	  .grid-result {
	  	width: 100%;
	    display: block;
	    padding: 0px;
	  }
		.grid-result .go-to-article {
			position: absolute;
			display: block;
			top: 80%;
			right: 2%;
			text-align: right;
			font-size: 3.8rem;
		}
	  .filter-conditon {
	    display: inline-block;
	    margin-top: 20px;
	  }
	  #search-area {
	    display: block;
	  }
	  .item.new:after {
	    display: block;
	    border-radius: 0px;
	  }
	  .item .name {
	    font-size: 2.0rem;
	  }
	  .item .name p {
	    width: 340px;
	  }
	}
	.favorites-wrapper,
	.favorite-box {
		display: block;
	}
	.favorite-icon {
		width: 100px;
		height: 100px;
		font-size: 5rem;
		line-height: 92px;
	}
	.favorite-box {
		margin: 40px auto;
	}
	.favorite-text {
		margin: 0;
	}

}
