body {
	background-color: rgba(255,255,251,1);/* GOFUN */
	color: #656765; /* NIBI */
}

.article-core {
	background-color: rgba(88,178,200,0.3); /* SORA 0.3 */
	color: #080808; /* KURO */
}

.article-core h2 {
	color: #CB4042;
}

.grid .articlea {
	color: #FFFFFB; /* GOFUN */
}